{% extends 'base.html.twig' %}

{% block title %}TopAchat
{% endblock %}

{% block body %}

	<main>
		{% if not app.user %}
			<section class="py-5 text-center container">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">Bienvenue sur TopAchat</h1>
						<p class="lead text-muted">Votre service de gestion de matériels de confiance.</p>
						<p class="lead text-muted">simple,rapide,et efficace !</p>
						<p>
							<a href="{{ path('app_login') }}" class="btn btn-primary my-2">Connexion</a>
							<a href="#" class="btn btn-secondary my-2">Inscription</a>
						</p>
					</div>
				</div>
			</section>
		{% else %}
			<section class="py-5 text-center container">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">Connecté sous :
							{{ app.user.username }}</h1>
						<p>
							<hr>
							<a href="{{path('product_index')}}">Voir mon bizness</a>
						</p>
					</p>
				</div>
			</div>
		</section>
	{% endif %}

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for product in products %}
					<div class="col">
						<div class="card shadow-sm">
							{% if product.filename %}
								<a href="/images/products/{{ product.filename }}"><img src="/images/products/{{ product.filename }}" class="card-img-top" style="width: 100%;height:auto;"></a>
							{% endif %}

							<div class="card-body">
								<h5 class="card-title">
									Produit:
									{{ product.name }}</h5>
								<small>
									<i class="far fa-calendar-alt"></i>
									{{ product.datetime|date('d-m-Y')}}
									à
									{{ product.datetime|date('H:i:s') }}
								</small>
								<br>
								<small>
									<i class="fas fa-calendar-times"></i>
									{{ product.datefingarantie|date('d-m-Y') }}
									à
									{{ product.datefingarantie|date('H:i:s') }}</small>
								<p class=" text-muted">
									<i class="fas fa-barcode"></i>
									{{ product.category.name}}</p>
								<p class="card-text">{{ product.commentaires }}</p>
								<hr>
								<p class=" text-muted">
									<i class="fas fa-map-marked-alt"></i>
									{{ product.lieu }}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href="{{path('show_products', {id: product.id})}}" class="btn btn-warning">Voir produit</a>
										<button type="button" class="btn btn-sm btn-outline-secondary">Favoris</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

</main>{% endblock %}
