{{ form_start(form) }}
<div class="container">
	<div class="row">
		<div class="col-md-4">{{ form_row(form.name) }}</div>
		<div class="col-md-12">{{ form_row(form.commentaires) }}</div>
		<div class="col-md-4">{{ form_row(form.price) }}</div>
		<div class="col-md-4">{{ form_row(form.category) }}</div>
	</div>
	<div class="row">
		<div class="col-md-2">{{ form_row(form.createdAt) }}</div>
		<div class="col-md-2">{{ form_row(form.date_fin_garantie) }}</div>
		<div class="col-md-2">{{ form_row(form.manuel) }}</div>
		<div class="col-md-2">{{ form_row(form.favoris) }}</div>
		<div class="col-md-2">{{ form_row(form.lieu) }}</div>
		<div class="col-md-2">{{ form_row(form.thumbnailFile) }}</div>
	</div>
</div>
{{ form_rest(form) }}
<hr>
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
