{% extends 'base.html.twig' %}

{% block title %}
	Products Index
{% endblock %}

{% block body %}
	<div class="container-fluid" style="margin-top: 20px;">

		{% if app.user %}
			<h5>Actuellement connecté sous :</h5>
			<small>{{ app.user.username }}</small>
			{% else %}

		{% endif %}

		<table class="table">
			<thead>
				<tr>
					<th>Réference client</th>
					<th>Produit</th>
					<th>Date</th>
					<th>Prix</th>
					<th>Date_fin_garantie</th>
					<th>Commentaires</th>
					<th>Image</th>
					<th>Manuel</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.datetime ? product.datetime|date('d-m-Y H:i:s') : '' }}</td>
						<td>{{ product.price }}</td>
						<td>{{ product.dateFinGarantie ? product.dateFinGarantie|date('d-m-Y H:i:s') : '' }}</td>
						<td>{{ product.commentaires }}</td>
						<td>
							{% if product.filename %}
								<a href="/images/products/{{ product.filename }}"><img src="/images/products/{{ product.filename }}" class="card-img-top" style="width:100%;height:100%;"></a>
							{% endif %}
						</td>
						<td>{{ product.manuel ? 'Inclus' : 'Non' }}</td>
						<td>
							<a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-secondary">Voir</a>
							<a href="{{ path('product_edit', {'id': product.id}) }}" class=" btn btn-primary">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Aucune annonce trouvée(s)</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('product_new') }}" class="btn btn-info">Nouveau produit</a>
	</div>
{% endblock %}
